<h1>Petitions</h1>

<div id="petitions">
  <% @petitions.each do |petition| %>
      <h2>
        <%= link_to petition.name, petition %>
      </h2>
      <div class="content"><%= petition.content %></div>
  <% end %>
</div>